參考資料/0207平台討論.pptx
參考資料/BK0207平台討論.pptx
參考資料/0225平台.rar
參考資料/平台畫面0304.rar
參考資料/telic-lab-有資料版.sql
參考資料/telic-lab-僅結構版.sql
參考資料/0225平台/0225平台/0224循序結構.pptx
參考資料/0225平台/0225平台/0225選擇結構.pptx
參考資料/平台畫面0304/~$0226循序結構.pptx
參考資料/平台畫面0304/0226循序結構.pptx
參考資料/平台畫面0304/0301選擇結構.pptx
